# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & secrets
.env
.venv
env/
venv/
ENV/

# Databases
*.db
*.sqlite3

# Logs
*.log
logs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Mosquitto runtime
mosquitto/data/
mosquitto/log/

# IDE
.vscode/
.idea/
